footer {
  text-align: center;
}

.container {
  margin: 30px auto 10px;
}

.city {
  font-size: 30px;
}

.card {
  background: #deeefc;
  border-color: #006ec5;
  margin: 20px auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.change-city {
  background: #add3f2;
  border-color: #006ec5;
  padding: 10px;
}

.change-city::placeholder {
  font-style: italic;
}

.submit-city-button {
  background: #0b5ed7;
  border-radius: 25px;
  padding: 10px 10px;
  transition: all 200ms ease-in-out;
  font-size: 15px;
}

.current-button {
  padding: 0;
}

.submit-city-button:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.today {
  margin: 0 0 0 40px;
}

.icon-today {
  width: 90px;
}

.icons {
  width: 60px;
}

.current-day {
  color: gray;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  margin: 0;
}

.current-city {
  text-align: right;
  margin: 20px 0;
  font-weight: 100;
  position: relative;
  right: 40px;
  top: 30px;
}

.temperature-today {
  color: black;
  font-weight: normal;
  font-size: 35px;
  position: relative;
  bottom: 10px;
}

.units {
  position: relative;
  bottom: 22px;
  left: 10px;
}

.current-weather-icon {
  font-size: 50px;
}

.humidity-wind {
  color: grey;
  font-size: 12px;
}

.description {
  text-transform: capitalize;
}

.forecast-days {
  margin: 10px 30px;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}

.lowest {
  color: grey;
  font-weight: normal;
}

.temperature {
  font-size: 10px;
}

.weather-icon {
  font-size: 30px;
  margin: 15px 0;
}
